# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log

# Distribución y Empaquetado
build/
dist/
*.egg-info/

# Pruebas y Cobertura
.pytest_cache/
.coverage
htmlcov/

# Docker
docker/certs/
docker/mysql_data/
.docker/

# Base de Datos
*.sqlite3
*.db
*.sql

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo