services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cadel_db
    volumes:
      - db_data:/var/lib/mysql

  # Versión Vulnerable (HTTP, Debug on, Security off)
  web-vulnerable:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    environment:
      - SECURITY_LEVEL=vulnerable
      - FLASK_DEBUG=1
    ports:
      - "8080:5000"
    depends_on:
      - db

  # Versión Segura (Detrás de Nginx, Security on)
  web-secure:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    environment:
      - SECURITY_LEVEL=secure
      - FLASK_DEBUG=0
    expose:
      - "5000"
    depends_on:
      - db

  # Proxy Nginx para HTTPS y Headers seguros
  nginx:
    image: nginx:alpine
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/certs:/etc/nginx/certs
    ports:
      - "8443:443"
    depends_on:
      - web-secure
    command: /bin/sh -c "apk add --no-cache openssl && if [ ! -f /etc/nginx/certs/server.crt ]; then echo 'Generando certificados SSL...'; openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/nginx/certs/server.key -out /etc/nginx/certs/server.crt -subj '/C=ES/ST=Madrid/L=Madrid/O=CadelAcademy/CN=localhost'; fi && nginx -g 'daemon off;'"

volumes:
  db_data:
